{% extends "base.html" %}
{% block title %}Success{% endblock %}

{% block header %}
    <h2>Payment Successful</h2>
{% endblock %}

{% block content %}
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
        <!-- Breadcrumbs -->
        
        <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's</a></li>
           </ul>
        </div>  
        </div>
        </div>
                </div>
            <h3 class="text-success">{{ message }}</h3>
                <p>Thank you. Please visit our store again!</p>
            <p>
                <a class="btn btn-primary" href="/"><i class="fa fa-search" aria-hidden="true"></i> Continue Shopping...</a>
            </p>
    <br><br>   <br><br>   <br><br>   
{% endblock %}